@import './base.css';
.tsh-navbar-container{
    display: flex;
}
.tsh-navbar-search{
    display: flex;
    position: relative;
    align-items: center;
}
.tsh-navbar-search input {
    height: 40px;
    width: 120px;
}

.tsh-navbar-ul{
    display: flex;
    flex-direction: column;
    color: black;
    list-style-type: none;
    gap: 1rem;
    margin: 0 auto;
    padding: 10px 0;
}

@media screen and (min-width: 412px) {
    .tsh-navbar-search input {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .tsh-navbar-ul{
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }
}
